.header-container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 50px 5%;
}
.insta-container {
    display: flex;
}
.insta {
    padding-right: 10px;
    border-right: 1px solid black;
}
.insta  i {
    font-size: 50px;
}
.insta-text > a, .insta > a {
    color: #000;
    text-decoration: none;
}
.insta-text h2 {
    margin: 0;
    padding-left: 10px;
    font-family: Comic Sans, Comic Sans MS, cursive;
}
.search-bar, .panel-container {
    align-self: center;
}
.search-bar {
    position: relative;
    max-width: 350px;
    width: 100%;
}
.search-bar > input {
    height: 30px;
    width: 100%;
    border: 1px solid #dedede;
    background-color: #ececec;
    border-radius: 2px;
}
.search-bar > input::placeholder {
    padding-left: 46%;
}
.search-bar > input:focus {
    outline: none;
    color: #a7a7a7;
}
.search-bar > input:focus .search-bar > i {
    z-index: -1;
}
.search-bar > i {
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #a7a7a7;
}
.panel-container {
    display: flex;
}
.panel-container  i {
    font-size: 32px;
    margin: 0 10px;
    color: #000;
}
