.images-block {
    max-width: 100%;
    height: auto;
    margin: 50px calc(5% - 20px);
    display: flex;
    flex-flow: row wrap;
}
.image-container {
    width: calc(33% - 37px);
    height: auto;
    margin: 20px;
}
.image-container img {
    max-height: 435px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}