html, body {
	height: 100%;
}
.main-div {
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
.selection-fonts {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.select {
	font-weight: 700;
	font-size: 24px;
}
.choose-fonts {
	display: flex;
	justify-content: space-between;
}
.choose-fonts a {
	font-weight: 700;
	font-size: 18px;
	color: grey;
	text-decoration: none;
	text-transform: uppercase;
}
/*.choose-fonts a:focus {
	color: orange;
}*/
.div-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80%;
	height: 50%;
	border: 2px solid grey;
	border-radius: 20px;
	text-align: center;
}
.left-div a {
	text-decoration: none;
}
.green-cube {
	width: 200px;
	height: 200px;
	background-color: green;
	border-radius: 20px;
	border: 2px solid black;
	box-shadow: inset 0px 0px 0px 2px #fff;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}
.green-cube span {
	margin-left: 20px;
	font-size: 40px;
	color: lightgreen;
	opacity: 0.8;
	font-weight: 800;
}
.green-cube-text {
	margin-top: 30px;
	font-weight: 700;
}
.little-cubes {
	width: 100px;
	height: 100px;
	border-radius: 20px;
	margin-right: 20px;
	border: 2px solid black;
	box-shadow: inset 0px 0px 0px 2px #fff;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}
.little-cubes span {
	margin-left: 20px;
	font-size: 24px;
	opacity: 0.8;
	font-weight: 800;
}
.cube1 {
	background-color: #E501FE;
	margin-bottom: 20px;
}

.cube1 span {
	color: lightpink;
}
.cube2 {
	background-color: blue;
}
.cube2 span {
	color: lightblue;
}

.cube-common {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.cube-common a {
	text-decoration: none;
}
.right-div {
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}
div li {
	list-style: none;
}
div li:before {
	content: "\2022";
  color: grey;
  font-weight: bold;
}
.left-div a:focus, .cube-common a:focus {
	opacity: 0.5;
}
.active a {
  color: orange;
}

@media screen and (max-width: 720px) {
	.div-container {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 70%;
	}
	.cube-common {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}
	.right-div {
		height: auto;
	}
}