@import 'reset';
@import '../node_modules/breakpoint-sass/stylesheets/breakpoint';
@import 'tricks';
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

*,
*::before,
*::after {
  box-sizing: border-box;
}
*{
	margin: 0;
	padding: 0;
}